@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
@namespace svg url("http://www.w3.org/2000/svg");
/*AGENT_SHEET*/
/* 
Автор: Виталий В.
ОС: Windows, Linux.
Сайт: https://sites.google.com/site/serials101
*/
@-moz-document url-prefix("chrome://"), url-prefix("about:") {
menupopup, panel[type="arrow"] .panel-arrowcontent, #sidebar-search-text panel, panel[type="autocomplete"],
#PopupAutoComplete, #alertNotification #alertBox, #newMailAlertNotification {
    -moz-appearance: none !important;
    border-style: solid !important;
    border-width: 2px !important;
    -moz-border-top-colors: rgba(0,0,0,0.1) rgba(255,255,255,0.6) !important;
    -moz-border-left-colors: rgba(0,0,0,0.1) rgba(255,255,255,0.6) !important;
    -moz-border-right-colors: rgba(0,0,0,0.1) rgba(255,255,255,0.6) !important;
    -moz-border-bottom-colors: rgba(0,0,0,0.1) rgba(255,255,255,0.6) !important;
    background-color: transparent !important;
    background-image: repeating-linear-gradient(-45deg, rgba(21,21,21,0.7) 0px, rgba(21,21,21,0.7) 8px, rgba(11,11,11,0.7) 8px, rgba(11,11,11,0.7) 16px) !important;
    background-origin: border-box !important;
    background-clip: border-box !important;
    background-repeat: no-repeat !important;
    background-position: 0% 0% !important;
    background-size: auto !important;
    color: whitesmoke !important;
    text-shadow: none !important;
}

#alertNotification {
    -moz-appearance: none !important;
    background: DimGray !important;
    padding: 0 !important;
}

#newMailAlertNotification #closeButton {
    -moz-appearance: none !important;
    border: none !important;
    padding: 3px !important;
    border: 1px solid transparent !important;
}

#alertNotification #alertBox {
    box-shadow: none !important;
    animation-timing-function: step-start !important;
}

#alertNotification #alertImage {
    margin: 0 !important;
    width: 48px !important;
    height: 48px !important;
    max-width: 48px !important;
    max-height: 48px !important;
    object-fit: scale-down !important;
}

#alertNotification #alertTextBox {
    padding: 4px !important;
}

panel[type="arrow"] button, panel[type="arrow"] menulist, panel[type="arrow"] listbox {
    -moz-appearance: none !important;
    border-width: 1px !important;
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-color: rgba(255,255,255,0.6) !important;
}

panel[type="arrow"] menulist {
    border-style: solid;    
}

panel[type="arrow"] textbox {
    -moz-appearance: none !important;
    border: 1px solid rgba(255,255,255,0.6) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto !important;
    min-height: 24px !important;
}
 
panel[type="arrow"] textbox[focused] {
    background-color: black !important;
    border-color: Highlight !important;
}
    
panel[type="arrow"] tree {
    -moz-appearance: none !important;
    background: none !important;
    -moz-border-top-colors: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    border: 1px solid rgba(255,255,255,0.6) !important;
    color: whitesmoke !important;
    text-shadow: none !important;
}
    
panel[type="arrow"] treechildren::-moz-tree-row {
    -moz-border-top-colors: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    background: none !important;
    outline: none !important;
} 

panel[type="arrow"] treechildren::-moz-tree-row(selected) {
    background: rgba(255,255,255,0.2)  !important;
}

panel[type="arrow"] treechildren::-moz-tree-row(selected, focus) {
    background: rgba(255,255,255,0.4) !important;
}

panel[type="arrow"] treechildren::-moz-tree-row(hover) {
    background-color: Highlight !important;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2)0%, rgba(255,255,255,0)50%) !important;
}

panel[type="arrow"] tree[disabled="true"] > treechildren::-moz-tree-row {
    background: none !important;
}

panel[type="arrow"] treechildren::-moz-tree-separator {
    border-bottom: 1px solid rgba(255,255,255,0.6) !important;
    border-top: none !important;
}

panel[type="arrow"] treechildren::-moz-tree-cell-text {
    color: whitesmoke !important;
}

panel[type="arrow"] treechildren::-moz-tree-cell-text(hover) {
    color: HighlightText !important;
}
    
@media not all and (-moz-os-version: windows-xp) {
panel[type="arrow"] treechildren::-moz-tree-twisty {
    -moz-appearance: none !important;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVQTFRF////HMT3GKjUHMT3GKjUr+T5wOj5rFcpYAAAAAR0Uk5TACaZ2z7RZscAAAAkSURBVAhbY2BQYAABZwEQaWYIIk2TQRyzNBDHDMI2RKgBqQcAaNgD0/oixWYAAAAASUVORK5CYII=") !important;
}

panel[type="arrow"] treechildren::-moz-tree-twisty(open) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF////HMT3HMT3HMT3YtP4tuX5wOj5x+n5gJZH5AAAAAN0Uk5TAHyyXJMghAAAACJJREFUCFtjYEAFQiAuozOIFEkGMV1BpEh6MZBUNjaGKgYAN1wC7t+HTWIAAAAASUVORK5CYII=") !important;
}

panel[type="arrow"] treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVQTFRF////HMT3GKjUHMT3GKjUr+T5wOj5rFcpYAAAAAR0Uk5TACaZ2z7RZscAAAAmSURBVAgdY2BgYFAAYgZhByDBaGYAYqYCSUazNDAbTELEIWpA6gFmBgPTkIMkFwAAAABJRU5ErkJggg==") !important;
}

panel[type="arrow"] treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(open) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF////HMT3HMT3HMT3YtP4tuX5wOj5x+n5gJZH5AAAAAN0Uk5TAHyyXJMghAAAACNJREFUCFtjYEACTAIgDrMjmEwBcZhTQRzmchCH2dhYAaoYADqbAu6nferhAAAAAElFTkSuQmCC") !important;
}
}

menupopup menuitem, menupopup menu, menupopup menuseparator,
#notification-popup menuitem, #notification-popup menuseparator, menupopup .splitmenu-menuitem,
panel[type="arrow"] button:not(.expander-up):not(.expander-down) > .button-box,
panel[type="arrow"] menuseparator {
    -moz-appearance: none !important;
}

menupopup menuitem, menupopup menu, menupopup .splitmenu-menuitem {
    padding-left: 2px;
    padding-right: 2px;
}

menupopup menuitem, menupopup menu, #notification-popup menuitem {  
    min-height: 22px;
}

#alertNotification separator.groove:not([orient="vertical"]),
menupopup menuseparator, #notification-popup menuseparator, panel[type="arrow"] menuseparator {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid rgba(255,255,255,0.6) !important;
    border-top: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#newMailAlertNotification #closeButton:not([disabled="true"]):not(:active):hover,
panel[type="arrow"] button:not([disabled="true"]):not(:active):hover {
    border-color: highlight !important;
}

panel[type="arrow"] menulist > .menulist-dropmarker {
    -moz-appearance: none !important;
    display: -moz-box !important;
    border: none !important;
    background: none !important;
    padding: 1px !important;
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='5' width='9'><g><polygon points='0,0.75 0,0 9,0 9,0.75 4.75,5 4.25,5' style='fill:rgb(0,0,0);opacity:0.8'/><polygon points='0.75,0 8.25,0 8.25,0.5 4.5,4.25 0.75,0.5' style='fill:rgb(255,255,255)'/></g></svg>") !important;
    height: 16px;
    width: 16px;
    -moz-box-align: center !important;
    -moz-box-pack: center !important;
    -moz-image-region: auto !important;
}

menupopup menu[disabled="true"],
menupopup menuitem[disabled="true"],
menupopup .splitmenu-menuitem[disabled="true"],
panel[type="arrow"] button,
panel[type="arrow"] menulist,
panel[type="arrow"] textbox,
panel[type="arrow"] listbox,
panel[type="arrow"] .click-to-play-plugins-notification-icon-box,
panel[type="autocomplete"] .autocomplete-search-box {
    background-color: transparent !important;
}

#context-navigation, panel[type="arrow"] .panel-promo-box, panel[type="arrow"] listbox listitem,
#alertNotification .alertImageBox, #alertNotification .alertTextBox, #alertNotification .alertCloseBox {
    background: none !important;
}

panel[type="arrow"] listbox listitem[selected="true"] {
    background: rgba(255,255,255,0.2)  !important;
}

menupopup autorepeatbutton .autorepeatbutton-icon,
panel[type="arrow"] button.expander-up > .button-box,
panel[type="arrow"] button.expander-down > .button-box,
panel[type="arrow"] .messageCloseButton:not(:hover):not(:active),
panel[type="arrow"] toolbarbutton dropmarker,
panel[type="arrow"] toolbarbutton.close-icon:not(:hover):not(:active) > .toolbarbutton-icon,
panel[type="arrow"] button.downloadButton .button-icon,
panel[type="arrow"] button dropmarker,
#newMailAlertNotification #closeButton > image,
#alertNotification toolbarbutton.alertCloseButton > image, #alertNotification toolbarbutton#alertCloseButton > image {
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='invert-white' x='0%' y='0%' width='100%' height='100%'><feColorMatrix type='saturate' values='0'/><feComponentTransfer><feFuncR type='table' tableValues='1 0'/><feFuncG type='table' tableValues='1 0'/><feFuncB type='table' tableValues='1 0'/></feComponentTransfer></filter></svg>#invert-white") !important;
}

panel[type="arrow"] .panel-arrow {
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='invert' x='0%' y='0%' width='100%' height='100%'><feComponentTransfer><feFuncR type='table' tableValues='.3 0'/><feFuncG type='table' tableValues='.3 0'/><feFuncB type='table' tableValues='.3 0'/></feComponentTransfer></filter></svg>#invert") !important;
}

menupopup,
panel[type="arrow"] .panel-arrowcontent,
panel[type="arrow"] description,
panel[type="arrow"] button,
panel[type="arrow"] menulist,
panel[type="arrow"] textbox,
panel[type="arrow"] listbox,
panel[type="arrow"] listbox listitem,
panel[type="arrow"] radio,
panel[type="arrow"] .theme-comment,
panel[type="arrow"] toolbarbutton:not([disabled="true"]),
panel[type="arrow"] .panel-subview-header,
panel[type="autocomplete"] treechildren::-moz-tree-cell-text, panel[type="autocomplete"] .autocomplete-search-box,
menupopup menu, #sidebar-search-text tree,
menupopup menuitem, #notification-popup menuitem,
menupopup .splitmenu-menuitem,
#alertNotification #alertBox, #identity-popup-securityView-body > description, #PopupAutoComplete treechildren::-moz-tree-cell-text {
    color: whitesmoke !important;
    text-shadow: none !important;
}

panel[type="autocomplete"] treechildren::-moz-tree-cell-text(hover) {
    color: HighlightText !important;
}

#newMailAlertNotification .folderSummaryMessage:hover > .folderSummary-message-row,
panel[type="arrow"] .text-link, #alertNotification #alertTextLabel, #alertNotification .alertText[clickable="true"]:not(:active) {
    color: lightskyblue !important;
}

menupopup menu[disabled="true"],
menupopup menuitem[disabled="true"],
menupopup .splitmenu-menuitem[disabled="true"],
menupopup .menu-accel, menupopup .menu-iconic-accel, .subviewbutton[shortcut]::after,
panel[type="arrow"] toolbarbutton[disabled="true"],
#newMailAlertNotification .folderSummary-previewText {
    color: silver !important;
    text-shadow: none !important;
}

menupopup menuitem[checked="true"] .menu-iconic-left,
menupopup menuitem[type="radio"][checked="true"] .menu-iconic-left {
    visibility: visible !important;
}

menupopup menuitem:not(.subviewbutton)[checked="true"] .menu-iconic-left,
menupopup menuitem:not(.subviewbutton)[type="radio"][checked="true"] .menu-iconic-left {
    -moz-appearance: menuimage  !important;
}

menupopup menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon,
menupopup menuitem[type="radio"][checked="true"] > .menu-iconic-left > .menu-iconic-icon {
    display: -moz-box !important;
    visibility: visible !important;
    width: 16px !important;
    height: 16px !important;
    -moz-padding-start: 3px !important;
    -moz-padding-end: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

menupopup menuitem[checked="true"] {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='9px' width='9px'><polygon points='0,1 4,5 9,0 9,4.5 4.5,9 3.5,9 0,5.5' style='fill:rgb(245,245,245)'/></svg>") !important;
    -moz-image-region: auto !important;
}

menupopup menuitem[type="radio"][checked="true"] {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='9px' width='9px'><circle cx='4.5' cy='4.5' r='4' style='fill:rgb(245,245,245)'/></svg>") !important;
    -moz-image-region: auto !important;
}

menupopup .menu-right {
    -moz-appearance: none !important;
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='9px' width='9px'><polygon points='2,0 2.5,0 7,4.5 2.5,9 2,9' style='fill:rgb(245,245,245)'/></svg>") !important;
    -moz-image-region: auto !important;
    width: 16px !important;
    height: 16px !important;
    padding: 0px !important;
}

menupopup .menu-right > image {
    width: 16px !important;
    height: 16px !important;
    -moz-padding-start: 3px !important;
    -moz-padding-end: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

menuitem[checked="true"][disabled="true"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="radio"][checked="true"][disabled="true"] > .menu-iconic-left > .menu-iconic-icon,
menupopup .menu-right[disabled="true"] > image {
    opacity: 0.6 !important;
}

menupopup:-moz-locale-dir(rtl) .menu-right > image {
    transform: scaleX(-1) !important;
}

panel[type="arrow"] toolbarbutton.subviewbutton[checked="true"] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='9px' width='9px'><polygon points='0,1 4,5 9,0 9,4.5 4.5,9 3.5,9 0,5.5' style='fill:rgb(245,245,245)'/></svg>") !important;
}

panel[type="arrow"] toolbarbutton.subviewbutton[checked="true"]:hover {
    color: HighlightText !important;
    background-color: Highlight !important;
    border-color: transparent !important;
}

panel[type="arrow"] panelview .toolbarbutton-1:not(:-moz-any([disabled="true"],[open="true"])):hover,
panel[type="arrow"] toolbarbutton.subviewbutton:not(:-moz-any([disabled="true"],[open="true"],[checked="true"])):hover,
menupopup menu:not([disabled="true"])[_moz-menuactive],
menupopup .splitmenu-menuitem:not([disabled="true"])[_moz-menuactive],
menupopup menuitem:not([disabled="true"])[_moz-menuactive],
#notification-popup menuitem:not([disabled="true"])[_moz-menuactive],
panel[type="arrow"] .toolbaritem-combined-buttons > toolbarbutton:not(:-moz-any([disabled="true"],[open="true"])):hover {
    color: HighlightText !important;
    background-color: Highlight !important;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2)0%, rgba(255,255,255,0)50%) !important;
    background-position: 0% 0% !important;
    background-size: auto auto !important;
    border-color: transparent !important;
}

#contentAreaContextMenu > menuitem, #contentAreaContextMenu > menu  {
   max-width: 24em !important;
}
}
/*--------------------------------*/
