[Desktop Entry]
Type=Action
Name[ru_RU]=Добавить в zip архив
Name[ru]=Добавить в zip архив
Tooltip[ru_RU]=Добавить в zip архив без сжатия
Tooltip[ru]=Добавить в zip архив без сжатия
Icon[ru_RU]=archive
Icon[ru]=archive
ToolbarLabel[ru_RU]=Добавить в zip архив
ToolbarLabel[ru]=Добавить в zip архив
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=mate-terminal --command "/home/vitaliyv/bin/archive_zip.sh %B"
