[Desktop Entry]
Type=Action
Name[ru_RU]=Копировать в ...
Name[ru]=Копировать в ...
Tooltip[ru_RU]=Копировать выделенное с выбором директории
Tooltip[ru]=Копировать выделенное с выбором директории
Icon[ru_RU]=folder-copy
Icon[ru]=folder-copy
ToolbarLabel[ru_RU]=Копировать в ...
ToolbarLabel[ru]=Копировать в ...
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=/home/vitaliyv/bin/copy_to.sh %F
