@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");
/*AGENT_SHEET*/
/* 
Автор: Виталий В.
Описание: Для SeaMonkey
ОС: Windows, Linux.
Сайт: https://vitaliyvstyle.github.io/
*/
@-moz-document url("chrome://navigator/content/navigator.xul") {
#sidebar-box {
    position: fixed !important;
    min-width: 0 !important;
    max-width: none !important;
    width: 2px !important;
    height: auto !important;
    -moz-binding: url("data:text/xml;utf8,<bindings xmlns='http://www.mozilla.org/xbl' xmlns:xul='http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul' xmlns:xbl='http://www.mozilla.org/xbl'><binding id='sidebar'><implementation><field name='panelcontainer'>document.getAnonymousElementByAttribute(document.getElementById('content'), 'anonid', 'panelcontainer');</field><field name='statusbar'>document.getElementById('status-bar');</field><field name='timer'>null</field><constructor><![CDATA[ this.topbottomsidebar(); window.addEventListener('resize', this, false); ]]></constructor><destructor><![CDATA[ window.removeEventListener('resize', this, false); ]]></destructor><method name='handleEvent'><parameter name='event'/><body><![CDATA[ this.topbottomsidebar(); ]]></body></method><method name='topbottomsidebar'><body><![CDATA[ clearTimeout(this.timer); this.timer = setTimeout(() => { this._topbottomsidebar(); }, 300); ]]></body></method><method name='_topbottomsidebar'><body><![CDATA[ var margintop = this.panelcontainer.boxObject.y; var bottomsidebar = this.statusbar.boxObject.height; this.setAttribute('style', 'top: ' + margintop + 'px !important; bottom: ' + bottomsidebar + 'px !important;'); ]]></body></method></implementation><handlers><handler event='dragenter'><![CDATA[ if (this.querySelector('browser.browser-sidebar[src*=bm-panel]:not([collapsed=true]):not([hidden=true])') || this.querySelector('browser.browser-sidebar[src*=search-panel]:not([collapsed=true]):not([hidden=true])') || this.querySelector('browser.browser-sidebar[src*=addressbook-panel]:not([collapsed=true]):not([hidden=true])')) { var types = event.dataTransfer.types; if (types.contains('text/x-moz-url') || types.contains('text/x-moz-text-internal')) this.setAttribute('sidebardrag', 'true'); } ]]></handler><handler event='drop'><![CDATA[ if (this.hasAttribute('sidebardrag')) this.removeAttribute('sidebardrag'); ]]></handler><handler event='dragexit'><![CDATA[ var target = event.relatedTarget; var closes = null; if (target && target.closest) closes = target.closest('vbox[id=sidebar-box], page[id=bookmarksPanel], page[id=searchPanel], page[id=addressbook-panel]'); if (!closes && this.hasAttribute('sidebardrag')) this.removeAttribute('sidebardrag'); ]]></handler></handlers></binding></bindings>#sidebar") !important;
    left: 0 !important;
    -moz-appearance: none !important;
    border: 1px solid rgba(0,0,0,0.8) !important;
    transition-timing-function: step-start !important;
    transition-delay: .6s !important;
    transition-property: width, opacity !important;
    background-color: transparent !important;
    background-image: repeating-linear-gradient(-45deg, rgba(21,21,21,0.7) 0px, rgba(21,21,21,0.7) 8px, rgba(11,11,11,0.7) 8px, rgba(11,11,11,0.7) 16px) !important;
    background-origin: padding-box !important;
    background-clip: padding-box !important;
    background-repeat: no-repeat !important;
    background-position: 0% 0% !important;
    background-size: auto !important;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6) inset !important;
    color: whitesmoke !important;
    text-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
}

#main-window[sizemode="normal"] #sidebar-box {
    width: 5px !important;
}

#sidebar-box:-moz-locale-dir(rtl) {
    right: 0 !important;
    left: auto !important;
}

#sidebar-box > * {
    visibility: collapse !important;
    transition-timing-function: step-start !important;
    transition-delay: .6s !important;
    transition-property: visibility !important;
}

#main-window #sidebar-box:hover, #main-window #sidebar-box[sidebardrag] {
    width: 42em !important; /*Ширина*/
    opacity: 1 !important;
    transition-delay: .2s !important;
}

#sidebar-box:hover > *, #sidebar-box[sidebardrag] > * {
    visibility: visible !important;
    transition-delay: .2s !important;
}

#sidebar-box[collapsed="true"] > * {
    visibility: collapse !important;
    transition: none !important;
}

#sidebar-panels-splitter-box {
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
    color: whitesmoke !important;
    text-shadow: none !important;
    width: -moz-available !important;
    min-width: 0 !important;
    max-width: none !important;
    height: 100% !important;
    padding: 1px !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

#sidebar-panels .sbtab-twisty,
#sidebar-title-box > #sidebar-close-button > image, #sidebar-panel-picker > dropmarker {
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='invert-white' x='0%' y='0%' width='100%' height='100%'><feColorMatrix type='saturate' values='0'/><feComponentTransfer><feFuncR type='table' tableValues='1 0'/><feFuncG type='table' tableValues='1 0'/><feFuncB type='table' tableValues='1 0'/></feComponentTransfer></filter></svg>#invert-white") !important;
}

#sidebar-splitter, #sidebar-panels .sbtab-texture {
    display: none !important;
}

#sidebar-title-box {
    -moz-appearance: none !important;
    background: none !important;
    color: whitesmoke !important;
    font-size: 12px !important;
    height: 26px !important;
    border: none !important;
    overflow: hidden !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    -moz-padding-end: 1px !important;
}

#sidebar-panels > *, #sidebar-panels .sidebar-iframe-no-panels, #sidebar-panels .loadarea, 
#sidebar-panels .loadarea button, #sidebar-box #sidebar-panel-picker, #sidebar-title-box > #sidebar-close-button {
    -moz-appearance: none !important;
    background: none !important;
    border-width: 1px !important;
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-color: rgba(255,255,255,0.6) !important;
    color: whitesmoke !important;
    text-shadow: none !important;
}

#sidebar-title-box > #sidebar-close-button,
#sidebar-box #sidebar-panel-picker {
    border-style: solid;
}

#sidebar-title-box > #sidebar-close-button:not(:hover):not(:active),
#sidebar-box #sidebar-panel-picker:not([open="true"]):not(:active) {
    border-color: transparent !important;
}

#sidebar-title-box > #sidebar-close-button:not([disabled="true"]):not(:active):hover,
#sidebar-box #sidebar-panel-picker:not([disabled="true"]):not([open="true"]):not(:active):hover,
#sidebar-panels .loadarea button:not([disabled="true"]):not(:active):hover {
    border-color: Highlight !important;
}
}

@-moz-document url("chrome://communicator/content/bookmarks/bm-panel.xul"), 
    url("chrome://communicator/content/history/history-panel.xul"),
    url("chrome://communicator/content/search/search-panel.xul"),
    url("chrome://messenger/content/addressbook/addressbook-panel.xul") {
page, tree {
    -moz-appearance: none !important;
    background: none !important;
    border: none !important;
    color: whitesmoke !important;
    text-shadow: none !important;
}

treecol, treecolpicker, toolbarbutton, button, menulist {
    -moz-appearance: none !important;
    background: none !important;
    border-width: 1px !important;
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-color: rgba(255,255,255,0.6) !important;
    color: whitesmoke !important;
    text-shadow: none !important;
}

toolbarbutton:not([disabled="true"]):hover, button:not([disabled="true"]):hover, menulist:not([disabled="true"]):hover {
    border-color: highlight !important;
}

toolbarbutton:not([disabled="true"]):-moz-any([open="true"],[open="true"]:hover,[checked="true"],:hover:active), menulist:not([disabled="true"]):-moz-any([open="true"],[open="true"]:hover,[checked="true"],:hover:active), button:not([disabled="true"]):-moz-any([open="true"],[open="true"]:hover,[checked="true"],:hover:active) {
    border-color: grey !important;
}

textbox {
    -moz-appearance: none !important;
    border: 1px solid #c1c1c1 !important;
    background-color: transparent !important;
    color: WhiteSmoke !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: auto !important;
    min-height: 24px !important;
}
 
textbox[focused] {
    background-color: black !important;
    border-color: Highlight !important;
}

#viewButton {
    -moz-appearance: none !important;
    border-style: solid;
    border-width: 1px !important;
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-color: rgba(255,255,255,0.6) !important;
    background: none !important;
    color: WhiteSmoke !important;
}

#viewButton:not([disabled="true"]):not([open="true"]):hover {
    border-color: highlight !important;
}

textbox .textbox-search-icons > image:not(.textbox-search-icon), treecolpicker .tree-columnpicker-icon, #viewButton > dropmarker, menulist > dropmarker {
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='invert-white' x='0%' y='0%' width='100%' height='100%'><feColorMatrix type='saturate' values='0'/><feComponentTransfer><feFuncR type='table' tableValues='1 0'/><feFuncG type='table' tableValues='1 0'/><feFuncB type='table' tableValues='1 0'/></feComponentTransfer></filter></svg>#invert-white") !important;
}

textbox .textbox-search-icons > image.textbox-search-icon {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16px' width='16px'><path fill='rgb(245,245,245)' d='M 5.4,9.11 1,13.4 2.5,15 6.89,10.6 C 7.72,11.1 8.71,11.5 9.77,11.5 12.7,11.5 15,9.11 15,6.23 15,3.33 12.7,1 9.77,1 6.89,1 4.5,3.33 4.5,6.23 4.5,7.29 4.9,8.28 5.4,9.11 Z M 9.77,9.36 C 8.04,9.36 6.64,7.96 6.64,6.23 6.64,4.48 8.04,3.09 9.77,3.09 11.5,3.09 12.9,4.48 12.9,6.23 12.9,7.96 11.5,9.36 9.77,9.36 Z'/></svg>") !important;
    -moz-image-region: auto !important;
}

textbox .textbox-search-icons > image.textbox-search-icon:-moz-locale-dir(rtl) {
    transform: scaleX(-1);
}

treechildren::-moz-tree-row {
    -moz-border-top-colors: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    background: none !important;
    outline: none !important;
} 

treechildren::-moz-tree-row(selected) {
    background: rgba(255,255,255,0.2)  !important;
}

treechildren::-moz-tree-row(selected, focus) {
    background: rgba(255,255,255,0.4) !important;
}

treechildren::-moz-tree-row(hover) {
    background-color: Highlight !important;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2)0%, rgba(255,255,255,0)50%) !important;
}

tree[disabled="true"] > treechildren::-moz-tree-row {
    background: none !important;
}

treechildren::-moz-tree-separator {
    border-bottom: 1px solid rgba(255,255,255,0.6) !important;
    border-top: none !important;
}

treechildren::-moz-tree-cell-text {
    color: whitesmoke !important;
}

treechildren::-moz-tree-cell-text(hover) {
    color: HighlightText !important;
}

@media not all and (-moz-os-version: windows-xp) {
treechildren::-moz-tree-twisty {
    -moz-appearance: none !important;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVQTFRF////HMT3GKjUHMT3GKjUr+T5wOj5rFcpYAAAAAR0Uk5TACaZ2z7RZscAAAAkSURBVAhbY2BQYAABZwEQaWYIIk2TQRyzNBDHDMI2RKgBqQcAaNgD0/oixWYAAAAASUVORK5CYII=") !important;
}

treechildren::-moz-tree-twisty(open) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF////HMT3HMT3HMT3YtP4tuX5wOj5x+n5gJZH5AAAAAN0Uk5TAHyyXJMghAAAACJJREFUCFtjYEAFQiAuozOIFEkGMV1BpEh6MZBUNjaGKgYAN1wC7t+HTWIAAAAASUVORK5CYII=") !important;
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVQTFRF////HMT3GKjUHMT3GKjUr+T5wOj5rFcpYAAAAAR0Uk5TACaZ2z7RZscAAAAmSURBVAgdY2BgYFAAYgZhByDBaGYAYqYCSUazNDAbTELEIWpA6gFmBgPTkIMkFwAAAABJRU5ErkJggg==") !important;
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(open) {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJBAMAAAASvxsjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRF////HMT3HMT3HMT3YtP4tuX5wOj5x+n5gJZH5AAAAAN0Uk5TAHyyXJMghAAAACNJREFUCFtjYEACTAIgDrMjmEwBcZhTQRzmchCH2dhYAaoYADqbAu6nferhAAAAAElFTkSuQmCC") !important;
}
}

}
