[Desktop Entry]
Type=Action
Name[ru_RU]=GitHub
Name[ru]=GitHub
Tooltip[ru_RU]=Добавление, фиксация и отправка изменений GitHub
Tooltip[ru]=Добавление, фиксация и отправка изменений GitHub
Icon[ru_RU]=github
Icon[ru]=github
TargetContext=false
TargetToolbar=true
ToolbarLabel[ru_RU]=GitHub
ToolbarLabel[ru]=GitHub
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=mate-terminal --command "/home/vitaliyv/bin/git_push.sh"
Path=%f
