[Desktop Entry]
Type=Action
Name[ru_RU]=Переместить в ...
Name[ru]=Переместить в ...
Tooltip[ru_RU]=Переместить выделенное с выбором директории
Tooltip[ru]=Переместить выделенное с выбором директории
Icon[ru_RU]=folder-move
Icon[ru]=folder-move
ToolbarLabel[ru_RU]=Переместить в ...
ToolbarLabel[ru]=Переместить в ...
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=/home/vitaliyv/bin/move_to.sh %F
