[Desktop Entry]
Type=Action
Name[ru_RU]=Извлечь из архива
Name[ru]=Извлечь из архива
Tooltip[ru_RU]=Извлечь из архива в папку как имя файла
Tooltip[ru]=Извлечь из архива в папку как имя файла
Icon[ru_RU]=archive-extract
Icon[ru]=archive-extract
ToolbarLabel[ru_RU]=Извлечь из архива
ToolbarLabel[ru]=Извлечь из архива
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=mate-terminal --command "/home/vitaliyv/bin/archive_extract.sh %B"
