[Desktop Entry]
Type=Action
Name[ru_RU]=Переименовать [^0-9]
Name[ru]=Переименовать [^0-9]
Tooltip[ru_RU]=Переименовать названия файлов удалив все кроме цифр
Tooltip[ru]=Переименовать названия файлов удалив все кроме цифр
Icon[ru_RU]=edit-rename
Icon[ru]=edit-rename
ToolbarLabel[ru_RU]=Переименовать [^0-9]
ToolbarLabel[ru]=Переименовать [^0-9]
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[ru_RU]=Default profile
Name[ru]=Default profile
Exec=mate-terminal --command "/home/vitaliyv/bin/rename.sh %B"
